/*
 * Main stylesheet for most of the site.
 */
/* @import url(./font-noto-serif.css); */
/* @import url(./font-fira-code.css); */

* {
	/* Sea-like colour scheme */
	--col-bg: #0b292e;
	--col-fg: #ddffff;
	--col-heading: #47b8e5;
	--col-date: #8aa;
	--col-link: #2b91a7;
	--col-link-hover: #72d0e5;
	--col-code-bg: #000000;
	--col-code-fg: #bbb;
	--col-break: #0f383f;
}

html {
	/* Main styles */
	background-color: var(--col-bg);
	color: var(--col-fg);
}

p {
	padding: 6px 0;
}

a { color: var(--col-link) }
a:hover { color: var(--col-link-hover) }

body {
	/* font-family: "Noto Serif", serif; */
	font-family: sans-serif;
	/* font-family: monospace; */
	font-size: 16px;
	text-rendering: geometricPrecision;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--col-heading);
	/*font-family: "Noto Serif", serif;*/
	font-family: serif;
}

img {
	max-width: 100%;
}

hr {
	border: 1px solid var(--col-break);
}

.articles { padding-bottom: 8rem }

/* Article content */
article, header, footer, hr {
	position: relative;
	max-width: 48rem;
	margin: 0 auto 0 auto;
}
article {
	min-height: 100%;
	padding: 0 2rem;
	padding-bottom: 24px;
	line-height: 1.725;
	overflow-wrap: break-word;

	text-align: justify;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

article .date {
	color: var(--col-date)
}

.articlelist-entry-date {
	color: var(--col-date);
	padding-right: 10px;
}

@media (max-width: 500px) {
	article {
		padding: 0.75rem !important;
	}
}

/* Navbar */
header {
	position: relative;
	display: flex;
	justify-content: flex-end;
	top: 0;
	height: 16px;
}
header a {
	min-width: 32px;
	padding: 8px;
	text-decoration: none;
}
header a:hover { text-decoration: underline; }

/* Code */
pre {
	white-space: pre-wrap;
	padding: 10px 15px;
	border-radius: 4px;
}
pre, code {
	background-color: var(--col-code-bg) !important;
	color: var(--col-code-fg);
	font-family: monospace;
	font-size: 14px;
	line-height: 1.4;
}
p code {
	padding: 4px 6px;
}

/* Footer */
footer {
	text-align: center;
}
#footer-blog {
	padding-top: 24px;
	padding-bottom: 12rem;
}
#footer-blog a {
	padding: 0 20px;
	text-decoration: none;
}

/*
 * Arrows
 * https://www.w3schools.com/howto/howto_css_arrows.asp
 */
.arrow {
	border: solid var(--col-fg);
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}
a .arrow { border-color: var(--col-link) !important }
a:hover .arrow { border-color: var(--col-link-hover) !important }
.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}
.left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}
.up {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}
.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
