
.bg-parallax {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 250px;
    background-color: #000;
}

#bg-main {
    background-image: url('./img/idx-header-bg-blur-70px-fin.png');
    background-position: 50% 60%;
    background-size: cover;
    background-repeat: no-repeat;
}