/*
 * Styles for dropdown menus.
 * We use this on the navbar currently.
 *
 * Based off of:
 * https://www.w3schools.com/howto/howto_css_dropdown.asp
 */

/* This is a container used to position dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
	float: right;
}

/* The dropdown content container. */
.dropdown-content {
	display: none;
	right: 0;
	position: absolute;
	margin-top: 1px;
	background: var(--navbar-bg);
	min-width: 160px;
	z-index: 1;
	border-top: none;
	border-left: var(--navbar-border);
	border-right: var(--navbar-border);
	border-bottom: var(--navbar-border);
	border-radius: 0 0 4px 4px;
}

/* Dropdown links */
.dropdown-content a {
	text-decoration: none;
	display: block;
	padding: 6px 8px;
}

/* Show dropdown on hover. */
.dropdown:hover .dropdown-content {
	display: block;
}

/* Set background on hover too.*/
.dropdown-content a {
	width: auto;
}
