body {
}

.home-bg {
	background-image: url(../img/rose.jpg);
}

/* Main container for home page. */
#home-container {
	margin-top: calc(20% - var(--navbar-height));
	margin-left: 20%;
	margin-right: 20%;
	text-align: justify;
	font-size: 24px;
}

/* Largest heading */
#home-heading {
	color: #000;
	font-weight: lighter;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	left: 0;
	right: 0;
	text-align: center;
	font-size: 60px;
}

/* Text under the massive heading */
#home-sub {
	padding: 8px 16px 8px 16px;
	color: #fff;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	font-size: 32px;
	background: rgba(0, 0, 0, 0.45);
	border-radius: 6px;
	border: var(--navbar-border);
	backdrop-filter: blur(5px);
	box-shadow: var(--navbar-shadow);
}
