/*
 * Main stylesheet for the website.
 */

/* Default styles applied to whole page. */
body {
	/* Main styles */
	background-color: #111;
	color: #fff;
	margin: 0;
	font-family: "Open Sans", sans-serif;
	font-weight: lighter;
}
a { color: #f1a; }
a:focus { outline: none; }

/* Main text content goes here. */
#main-cont {
	margin-left: 20%;
	margin-right: 20%;
	text-align: justify;
	font-size: 24px;
	padding: 0 24px 0 24px;
}

/* https://una.im/vignettes */
.vignette-bg {
	position: absolute;
	z-index: -10;
	top: 0; left: 0; bottom: 0; right: 0;
	background-position: center;
	background-size: cover;
}
.vignette-bg:after {
	content: '';
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background: radial-gradient(circle, transparent 50%, black 120%);
}

/* An info button */
.btn-info {
	position: relative;
	font-family: "Open Sans", sans-serif;
	font-weight: normal;
	font-size: 12px;
	text-decoration: none;
	padding: 16px 32px;
	line-height: 1;
	color: #eee;
	overflow: hidden;
	cursor: pointer;
	background: #a07;
	outline: none;
	border: none;
	filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	/* border-radius: 24px;
	transition: border-radius 200ms;*/
}
.btn-info:hover {
	background: #805;
	color: #fff;
	/*border-radius: 4px;*/
}

/* A generic container for any page. */
#generic-container {
	margin-top: calc(var(--navbar-height) + 48px);
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 32px;
	text-align: justify;
	font-size: 24px;
}

/* Generic large heading */
#generic-heading {
	color: #fff;
	font-weight: lighter;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	left: 0;
	right: 0;
	text-align: center;
	font-size: 60px;
}

/* A quote to be used under main heading */
#generic-quote {
	font-weight: lighter;
	font-style: italic;
	text-align: center;
	font-size: 32px;
	color: rgba(255, 255, 255, 0.8);
}

/* Main content container */
#generic-content {
	padding: 8px 16px 8px 16px;
	color: #fff;
	font-size: 24px;
	background: transparent;
}
#generic-content > h4 {
	font-size: 28px;
	margin: 32px 0 0 0;
}

/* Arrows */
/* https://www.w3schools.com/howto/howto_css_arrows.asp */
.arrow {
	border: solid #fff;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}
.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}
.left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}
.up {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}
.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
