
#content_area {
    float: none;
    width: 1080px;
    height: auto;
    min-height: 350px;
    max-width: 1080px;
    /* margin: 20px 110px 0 110px; */
    margin: 20px 110px 0 110px;
    padding: 10px;
    /*background-color: #202020;*/
    border: 3px solid #F5FAFF; /* Fallback */
    border: 3px solid rgba(245, 250, 255, 0.15);
    border-radius: 12px;
    background-clip: padding-box;
    box-shadow: 4px 2.5px 5px #111;
    background-image: url("../Images/content_bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#sidebar_right {
    float: none;
    width: 256px;
    height: 350px;
    /* margin: -376px 110px 0 1236px; */
    margin: 40px 110px -396px 1236px;
    padding: 10px;
    border: 3px solid #F5FAFF; /* Fallback */
    border: 3px solid rgba(245, 250, 255, 0.15);
    border-radius: 12px;
    background-clip: padding-box;
    box-shadow: 4px 2.5px 5px #111;
    background-image: url("../Images/content_bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#content_area_bottom {
    float: none;
    width: 1080px;
    height: 550px;
    min-height: 350px;
    max-width: 1080px;
    margin: 20px 110px 0 110px;
    padding: 10px;
    border: 3px solid #F5FAFF; /* Fallback */
    border: 3px solid rgba(245, 250, 255, 0.15);
    border-radius: 12px;
    background-clip: padding-box;
    box-shadow: 4px 2.5px 5px #111;
    background-image: url("../Images/content_bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#contentoffset {
    height: 60px;
    z-index: 100;
    width: 100%;
    margin-left: -10px;
    margin-top: -10px;
}

#contentoffsetbottom {
    height: 120px;
    z-index: 100;
    width: 100%;
    margin-left: -10px;
    margin-top: -10px;
}

.subheadertext {
    text-align: center;
    color: turquoise;
    text-shadow: 1px 1px 2px #000;
}

.randcolour {
    text-decoration: none;
}