
#countdowndays {
    font-family: monospace;
    font-size: 19px;
}

#countdownhours {
    font-family: monospace;
    font-size: 19px;
}

#countdownmins {
    font-family: monospace;
    font-size: 19px;
}

#countdownsecs {
    font-family: monospace;
    font-size: 19px;
}

#timerstopper {
    color: white;
}