body {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: #111;
}

.imageContainer {
    background-image: url("../Images/bg_nurburgring_bottom.jpg");
    z-index: 5;
    position: fixed;
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin-left: -10px;
    margin-top: 60px;
}

.content {
    z-index: 10;
    position: relative;
}

html {
	overflow-x: hidden;
    outline: none;
}

#toppart {
    text-align: center;
}

#banner {
    height: 60px;
    width: auto;
    margin: -10px;

    background-image: url("../Images/bg_nurburgring_top_blurred.jpg");
    background-color: white;
    background-size: 110% 300%;
    /*
    background-position-y: bottom;
    background-position-x: center;
    */
}

#bluroverlay {
    background-color: #808080;
    background-color: rgba(128, 128, 128, 0.15);
    width: auto;
    height: 60px;
    margin: -10px;
    z-index: 2;
}

#navigation {
    height: 60px;
    width: 1140px;
    margin-top: -76px;
    margin-left: auto;
    margin-right: auto;
}

#nav {
    list-style: none;
}

#nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
    display: none;
}

#nav li {
    font-size: 20px;
    float: right;
    position: relative;
    width: fit-content;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0;
    transition: background-color 0.2s;
    background-color: unset;
    border-radius: 6px;
}

#nav li:hover {
    transition: background-color 0.2s;
    background-color: #101E1A; /* Fallback */
    background-color: rgba(16, 30, 26, 0.3);
}
    
#nav li ul li {
    background-image: url(../Images/bar_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #e3e3e3;
    padding-left: 10px;
}

#nav a:link, #nav a:active, #nav a:visited {
    transition: color 0.25s, background-size 0.1s ease-in, text-shadow 0.3s;
    display: inline-block;
    color: #c4c4c4;
    text-decoration: none;
    background-image: linear-gradient(120deg, #fff 0%, #fff 100%);
    background-repeat: no-repeat;
    background-size: 0 0.05em;
    background-position: 50% 70%;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
    height: 44px;
    padding-top: 16px;
}

#nav a:hover {
    transition: color 0.25s, background-size 0.1s ease-out, text-shadow 0.3s;
    color: #fff;
    background-size: 100% 0.05em;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.2), 1px -1px 0 rgba(255, 255, 255, 0.2), -1px 1px 0 rgba(255, 255, 255, 0.2), 1px 1px 0 rgba(255, 255, 255, 0.2);
}

#content_area {
    float: none;
    /*width: 1080px;*/
	
	width: auto;
	height: auto;
	min-height: 350px;
	max-width: 1080px;
    margin: 20px 110px 0 110px;
    padding: 10px;
    background-color: #202020;
    border: 3px solid #F5FAFF; /* Fallback */
    border: 3px solid rgba(245, 250, 255, 0.15);
    border-radius: 12px;
    background-clip: padding-box;
}

#footer {
    position: fixed;
    width: 100%;
    height: 40px;
    background-color: #011520;
    padding: 5px;
    bottom: 0;
    margin: -10px;
}

#footer a {
	padding-left: 15px;
	text-align: left;
	font-size: 12px;
	vertical-align: middle;
	color: #fff; /*#545454*/
}

#titletext {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
    font-size: 32px;
    width: auto;
    font-family: 'Open Sans', sans-serif;
}

#titletext2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    text-align: center;
    font-size: 18px;
    width: auto;
    font-family: 'Open Sans', sans-serif;
}

#navl {
    list-style: none;
}

#navl ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
    display: none;
}

#navl li {
    font-size: 20px;
    float: left;
    position: relative;
    width: fit-content;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0;
    transition: background-color 0.2s;
    background-color: unset;
    border-radius: 6px;
}

#navl li:hover {
    transition: background-color 0.2s;
    background-color: #101E1A; /* Fallback */
    background-color: rgba(16, 30, 26, 0.3);
}

#navl li a {
    display: block;
}

#navl li a img {
    width: 60px;
    height: 60px;
}

#navlimg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px 60px;
    width: 60px;
    height: 60px;
    -webkit-transition: -webkit-filter 0.3s;
    -webkit-filter: grayscale(80%);
}

/* Youtube bg */
.ytimg {
    background-image: url("../Images/logo_yt.png");
}

/* FaceBook bg */
.fbimg {
    background-image: url("../Images/logo_fb.png");
}

#navlimg:hover {
    -webkit-transition: -webkit-filter 0.3s;
    -webkit-filter: grayscale(0%);
}

/* E-mail  */
#navlemail:link, #navlemail:active, #navlemail:visited {
	transition: color 0.25s, background-size 0.1s ease-in, text-shadow 0.3s;
    height: 44px;
	text-align: center;
	padding-top: 16px;
	display: inline-block;
	
	color: #c4c4c4;
    text-decoration: none;
    background-image: linear-gradient(120deg, #fff 0%, #fff 100%);
    background-repeat: no-repeat;
    background-size: 0 0.05em;
    background-position: 50% 70%;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
}

#navlemail:hover {
	transition: color 0.25s, background-size 0.1s ease-out, text-shadow 0.3s;
    color: #fff;
    background-size: 100% 0.05em;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.2), 1px -1px 0 rgba(255, 255, 255, 0.2), -1px 1px 0 rgba(255, 255, 255, 0.2), 1px 1px 0 rgba(255, 255, 255, 0.2);
}

.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 7px 5px;
    border-radius: 6px;
    position: absolute;
    font-size: 12px;

    z-index: 12;
    top: 110%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.25s ease-out;
}

.tooltip:hover .tooltiptext {
    opacity: 1;
    transition: opacity 0.25s ease-in;
}

/* Removes annoying focus outlines */
a:focus {
    outline: 1px solid rgba(0, 0, 0, 0.0);
}

/* Used for test game 1 */
#gameCanvas {
    border: 3px solid #011520;
}

.cursorfollow {
    display: inline-block;
    height: 60px;
    width: 100%;
    border: 1px solid #011520;
    position: absolute;
    right: 0;
    top: 0;
    background-image: radial-gradient(closest-side circle, #fff, transparent);
    background-position: var(--x) var(--y);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    opacity: 0.0;
    transition: opacity 0.3s ease-out;
}

.cursorfollow:hover {
    opacity: 1;
    transition: opacity 0.2s ease-in;
}