body {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: #011520;
}

.imageContainer {
    background-image: url("../Images/bg_nurburgring_bottom.jpg");
    z-index: 5;
    position: fixed;
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin-left: -10px;
    margin-top: 60px;
}

.bgColourCover {
    position: fixed;
    width: 100%;
    height: 100%;
    margin-top: 60px;
    background-color: #011520;
    z-index: 7;
    margin-left: -10px;
}

.bgColourBottom {
    width: 120%;
    height: 1024px;
    margin-top: 20px;
    background-color: #011520;
    z-index: 7;
    margin-left: -10px;
    box-shadow: 0 -5px 5px rgba(17, 17, 17, 0.7);
}

.content {
    z-index: 10;
    position: relative;
}

html {
	overflow-x: hidden;
    outline: none;
}

#toppart {
    text-align: center;
}

#banner {
    height: 60px;
    width: 100%;
    background-image: url("../Images/bg_nurburgring_top_blurred.jpg");
    background-color: white;
    background-size: 110% 300%;
    position: fixed;
    margin-left: -10px;
    top: 0%;

    box-shadow: 0 5px 5px rgba(17, 17, 17, 0.7);

    background-position: -100px -100px;

    /*
    background-position-y: bottom;
    background-position-x: center;
    */
}

#bluroverlay {
    background-color: #808080; /* Fallback */
    background-color: rgba(128, 128, 128, 0.0); /* Used to be 0.15 alpha */
    width: 100%;
    height: 100%;
    z-index: 2;
    background-image: url("../Images/Skeuo/bluroverlay.png");
    background-repeat: repeat-x;
    background-size: 100% 100%;
    background-position: center;
}

#navigation {
    height: 60px;
    width: 1140px;
    margin-top: -76px;
    margin-left: auto;
    margin-right: auto;
}

#nav {
    list-style: none;
}

#nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
    display: none;
}

/* List buttons */
li {
    font-size: 20px;
    float: right;
    position: relative;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    border-radius: 3px;
    transition: background-color 0.2s ease-in, box-shadow 0.2s ease-in;
    background-color: transparent; /*rgba(16, 30, 26, 0.05);*/
    /*box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.2), 1px 1px 2px rgba(0, 0, 0, 0.2);*/
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8), -1px -1px 2px rgba(255, 255, 255, 0.2), 1px 1px 6px rgba(0, 0, 0, 0.3);

    /*background-image: url("../Images/Skeuo/button_normal.png");
    background-position: center;
    background-size: 100% 100%;*/
}

li:hover {
    transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out;
    
    background-color: #101E1A; /* Fallback */
    background-color: rgba(68, 77, 76, 0.5); /* rgba(16, 30, 26, 0.28); */
    box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.5), 1px 1px 2px rgba(255, 255, 255, 0.2);
}

li:hover > #buttonnormal {
    transition: opacity 0.2s ease-out;
    opacity: 0;
}

li:hover > #buttonhover {
    transition: opacity 0.2s ease-out;
    opacity: 1;
}

#buttonnormal {
    width: 100%;
    height: 50px;
    margin-left: -10px;
    margin-top: -55px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    transition: opacity 0.2s ease-in;
    opacity: 1;
    pointer-events: none;
    position: relative;
    z-index: 11;

    background-image: url("../Images/Skeuo/bluroverlay2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

#buttonhover {
    width: 100%;
    height: 50px;
    margin-left: -10px;
    margin-top: -50px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    transition: opacity 0.2s ease-in;
    opacity: 0;
    pointer-events: none;
    position: relative;
    z-index: 11;

    background-image: url("../Images/Skeuo/button_hover.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

#nav a:link, #nav a:active, #nav a:visited {
    transition: color 0.25s, background-size 0.1s ease-in, text-shadow 0.3s;
    display: inline-block;
    color: #c4c4c4;
    text-decoration: none;
    background-image: linear-gradient(120deg, #fff 0%, #fff 100%);
    background-repeat: no-repeat;
    background-size: 0 0.05em;
    background-position: 50% 70%;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8), 1px -1px 1px #888, -1px 1px 1px #222;
    height: 44px;
    padding-top: 11px;
    z-index: 15;
    position: relative;
}

#nav a:hover {
    transition: color 0.25s, background-size 0.1s ease-out, text-shadow 0.3s;
    color: #fff;
    background-size: 100% 0.05em;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.2), 1px -1px 0 rgba(255, 255, 255, 0.2), -1px 1px 0 rgba(255, 255, 255, 0.2), 1px 1px 0 rgba(255, 255, 255, 0.2);
}

#footer {
    position: fixed;
    width: 100%;
    height: 40px;
    background-color: #011520;
    padding: 5px;
    bottom: 0;
    margin: -10px;
    box-shadow: 0 -5px 5px rgba(17, 17, 17, 0.7);
}

#footer a {
	padding-left: 15px;
	text-align: left;
	font-size: 12px;
	vertical-align: middle;
	color: #fff; /*#545454*/
}

#titletext {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
    font-size: 32px;
    width: auto;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 2px 3px 2px #000;
}

#titletext2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    text-align: center;
    font-size: 18px;
    width: auto;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 2px 3px 2px #000;
}

#navl {
    list-style: none;
}

#navl ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
    display: none;
}

#navl li a {
    display: block;
    margin-top: -5px;
    z-index: 14;
}

#navl li a img {
    width: 60px;
    height: 60px;
}

#navlimg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45px 45px;
    height: 60px;
    transition: opacity 0.2s ease-in;
    -webkit-transition: -webkit-filter 0.3s, opacity 0.2s ease-in;
    filter: grayscale(70%);
    -webkit-filter: grayscale(70%) drop-shadow(2px 2px 1px #000a);
    opacity: 0.72;
    z-index: 15;
}

/* Youtube bg */
.ytimg {
    background-image: url("../Images/logo_yt.png");
    width: 40px;
}

/* FaceBook bg */
.fbimg {
    background-image: url("../Images/logo_fb.png");
    width: 30px;
}

/* E-mail bg */
.emimg {
    background-image: url("../Images/logo_e-mail.png");
    width: 30px;
}

/* Github bg */
.ghimg {
    background-image: url("../Images/logo_git.png");
    width: 50px;
}

#navlimg:hover {
    -webkit-transition: -webkit-filter 0.3s, opacity 0.2s ease-out;
    -webkit-filter: grayscale(0%) drop-shadow(2px 2px 1px #0009);
    opacity: 1;
}

.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    width: 120px;
    background-color: #303030;
    color: #fff;
    text-align: center;
    padding: 7px 5px;
    border-radius: 12px;
    position: absolute;
    font-size: 12px;

    z-index: 12;
    top: 110%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.25s ease-out;
	text-shadow: 2px 2px 2px #000;
	box-shadow: 2px 2px 5px rgba(17, 17, 17, 0.7);
	
	border: 3px solid #F5FAFF; /* Fallback */
    border: 3px solid rgba(245, 250, 255, 0.15);
	background-clip: padding-box;
}

.tooltip:hover .tooltiptext {
    opacity: 1;
    transition: opacity 0.25s ease-in;
}

/* Removes annoying focus outlines */
a:focus {
    outline: 1px solid rgba(0, 0, 0, 0.0);
}

/* Used for test game 1 */
#gameCanvas {
    border: 3px solid #011520;
}

.cursorfollow {
    display: inline-block;
    height: 60px;
    width: 100%;
    border: 1px solid #011520;
    position: absolute;
    right: 0;
    top: 0;
    background-image: radial-gradient(closest-side circle, #fff, transparent);
    background-position: var(--x) var(--y);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    opacity: 0.0;
    transition: opacity 0.3s ease-out;
}

.cursorfollow:hover {
    opacity: 1;
    transition: opacity 0.2s ease-in;
}

#hyperlink {
    color: cornflowerblue;
}